.transactionHistory {
  margin-top: 50px;
  table-layout: fixed;
  width: 1000px;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid lightgray;
}

.thead {
  color: white;
  background-color: aqua;
  height: 80px;
}

.th:not(:last-child) {
  border-right: 1px solid lightgray;
}

.tbodyTr {
  height: 80px;
}

.tbodyTr:nth-child(odd) {
  background-color: white;
}

.tbodyTr:nth-child(even) {
  background-color: lightcyan;
}

.td {
  text-transform: capitalize;
  color: #010101;
}

.td:not(:last-child) {
  border-right: 1px solid lightgray;
}
